<div class="container-fluid" >
    <div class="row">
		<div class="form col-md-offset-2 col-md-8">
			<div class="form-head">
			</div> 
			<div class="form-body">
				<div class="row">
					<div class="form-body-title col-md-offset-1 col-md-10 text-center">
						<h1>L'équipe derrière Algoski</h1>
						<br>
						<h4>
							<ul class="contact-info">
								<li>
									Isabelle Bonnet
									<a href="mailto:isabellecorp@gmail.com">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</a>
									<a href="https://github.com/isarceaux" target="_blank">
										<i class="fa fa-github" aria-hidden="true"></i>
									</a>
									<a href="https://www.linkedin.com/in/bonnetisabelle/" target="_blank">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<br>
								<li>
									Marina Kirszenberg
									<a href="mailto:mk_pro@outlook.fr">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</a>
									<a href="https://github.com/marinakiri" target="_blank">
										<i class="fa fa-github" aria-hidden="true"></i>
									</a>
									<a href="https://www.linkedin.com/in/marinakir/" target="_blank">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<br>
								<li>
									Hong Luu
									<a href="mailto:luu.bichhong@gmail.com">
										<i class="fa fa-envelope" aria-hidden="true"></i>
									</a>
									<a href="https://github.com/orangespa" target="_blank">
										<i class="fa fa-github" aria-hidden="true"></i>
									</a>
									<a href="https://www.linkedin.com/in/luu-bich-hong-7b7ab638/" target="_blank">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
									</a>
								</li>
								<br>
							</ul>
						</h4>
						<br>
						<hr>
							<h4>Un grand merci à nos mentors pour leur aide précieuse &hearts;</h4>
							<br>
							<p>
								<ul class="contact-info">
									<li>Vincent Algayres
										<a href="https://www.linkedin.com/in/vincent-algayres-10925567/" target="_blank">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
									</li>
									<br>
									<li>Jean-Baptiste Barth
										<a href="https://www.linkedin.com/in/jean-baptiste-barth-9b407940/" target="_blank">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
									</li>
									<br>
									<li>Alexandre Kirszenberg
										<a href="https://www.linkedin.com/in/alexandre-kirszenberg-b45733b6/" target="_blank">
											<i class="fa fa-linkedin" aria-hidden="true"></i>
										</a>
									</li> 
								</ul>
							</p>
					</div>
					<div class="form-body-info col-md-offset-1 col-md-10">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>