<div class="container-fluid" >
    <div class="row">
		<div class="form col-md-offset-2 col-md-8">
			<div class="form-head">
			</div> 
			<div class="form-body">
				<div class="row">
					<div class="form-body-title col-md-offset-1 col-md-10 text-center">
						<h1>L'équipe derrière Algoski</h1>
						<br>
						<h4>
							<ul>
								<li>Isabelle Bonnet</li>
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								<br>
							  	<li>Marina Kirszenberg</li> 
							  	<br>
							  	<li>Hong Luu</li>
							  	<br>
							</ul>
						</h4>
						<br>
						<hr>
						<br>
							<h4>Un grand merci à nos mentors &hearts; pour leur aide précieuse :</h4>
							<br>
							<p>
								<ul>
									<li>Vincent Algayres</li>
									<br>
									<li>Jean-Baptiste Barth</li>
									<br>
									<li>Alexandre Kirszenberg</li> 
								</ul>
							</p>
					</div>
					<div class="form-body-info col-md-offset-1 col-md-10">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>








<!-- To dos : finir cette page !
Remplir les mentors
Ajouter pour nous trois des liens avec icônes vers github, linkedin et nos mails
Mettre le tout dans une boîte au milieu de la page et bien positionné -->