<h1>L'équipe !</h1>

<H2>Les développeuses</H2>

<ul>
  <li>Hong Luu</li>
  <li>Isabelle Bonnet</li>
  <li>Marina kirszenberg</li> 
</ul>

<h2>Leurs mentors</h2>


<!-- To dos : finir cette page !
Remplir les mentors
Ajouter pour nous trois des liens avec icônes vers github, linkedin et nos mails
Mettre le tout dans une boîte au milieu de la page et bien positionné -->