<h1>Tous les tarifs de location à la semaine de vos concurrents</h1>

<%= form_tag(session_path) do %>
  <%= label_tag(:q, "Entrez votre station :") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag 'Go' %>
<% end %>
