<p>
	Nous avons trouvé XX annonces correspondant à votre recherche.
	Station : XX
	Nombre de convives : XX
</p>

<p>
	Pour accéder aux résultats, <%= link_to "connectez-vous", new_user_session_path, :class => 'navbar-link'  %>.
<br>
  Pas encore inscrit ? <%= link_to "Inscrivez-vous ici", new_user_registration_path, :class => 'navbar-link'  %>.
</p>