<div class="container">
	<h1>Pourquoi Algoski ?</h1>
	<p>Vous êtes propriétaire d'un logement sur le domaine des Trois Vallées et souhaitez le louer ? Vous ne connaissez pas les tarifs pratiqués dans votre station ? 
	Algoski s'appuie sur une base de données de plusieurs milliers d'annonces pour vous aider à fixer vos prix.</p>
	<h1>Comment ça fonctionne ?</h1>
	<p>Renseignez votre station, puis indiquez le nombre de couchages de votre appartement. Notre algorithme va rechercher toutes les annonces correspondant à vos critères dans notre base de données, et calculer le prix moyen pour chaque semaine de la saison.</p>
	<h1>Que faire des résultats ?</h1>
	<p>Algoski vous permet de comparer vos tarifs à la moyenne pratiquée dans votre station pour un logement similaire au vôtre en terme de capacité d'accueil. Le calendrier des prix est également très utile pour évaluer les variations de prix d'une semaine à l'autre, et ajuster vos tarifs en conséquence. Enfin, le tableau de bord vous permet d'accéder en un clic à toutes les annonces de vos concurrents.</p>
	<h1>Quelques témoignages de nos clients</h1>
	<p>Etienne, 34 ans, propriétaire d'un T2 à Brides-les-Bains : "Algoski a changé ma vie en profondeur. Je suis désormais un homme comblé."</p>
	<h1>Ils parlent de nous</h1>
	<p>Personne. Tristesse.</p>
</div>