/*
 *= require select2
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	list-style: none;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

nav {
	.navbar-custom {
		background-color: #1D0826;
		color: #fff;

		#{$a-tags} {
			color: #fff;
			text-decoration: none;
		}

		#{$a-tags-hover} {
			color: #ccc;
		}
	}
}

footer { 
	width: 100%;
	position: absolute;
	bottom: 0;

	.navbar-footer {
		height: 30px;
		line-height: 30px;

		ul {
			padding: 0;
		}

		li {
			padding-right: 20px;
		}

		p {
			margin: 0;
		}

		a {
			padding: 0;
		}
	}
}




/*table, td, th { 
	vertical-align: middle; 
	border: none; 
}

th { 
	border-bottom: 1px solid #DDD; 
}*/
