/*
 *= require select2
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

@import "bootstrap-sprockets";
@import "bootstrap";


$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

* {
	font-family: Raleway;
	list-style: none;
}

html, body {
	height: 100%;
	/*  background-color: #F5EEEE; */  
	background: #F5EEEE url('/assets/bgd-xl.jpg') no-repeat center center;

}

#main {
	height: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.home-custom {
	color: #fff;
}

.navbar-custom {
	background-color: #1D0826;
	color: #fff;
	clear: both;

	#{$a-tags} {
		color: #fff;
		text-decoration: none;
	}

	#{$a-tags-hover} {
		color: #ccc;
	}
}

header {
	clear: both;

	li {
		padding-left: 20px;
	}
}

.footer { 
	width: 100%;
	clear: both;
	position: relative;
	height: 30px;
	margin-top: -30px;

	.navbar-footer {
		height: 30px;
		line-height: 30px;

		ul {
			padding: 0;
		}

		li {
			padding-right: 20px;
		}

		p {
			margin: 0;
		}

		a {
			padding: 0;
		}
	}
}









/*table, td, th { 
	vertical-align: middle; 
	border: none; 
}

th { 
	border-bottom: 1px solid #DDD; 
}*/
