/*
 *= require select2
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	font-family: Raleway, Helvetica, Arial, sans-serif;
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

.navbar-custom {
	background-color: #1D0826;
	height: 24px;
	color: #fff;
	line-height: 24px;

	#{$a-tags} {
	  color: #fff;
	  text-decoration: none;
	}

	#{$a-tags-hover} {
	  color: #ccc;
	}
}

footer { 
	margin-top: 100px; 
	margin-bottom: 10px;
	position: absolute;
	width: 100%;
	bottom: 0;
	
	li {
		list-style: none;
		padding-right: 20px;
	}
}

table, td, th { 
	vertical-align: middle; 
	border: none; 
}

th { 
	border-bottom: 1px solid #DDD; 
}
