/*
 *= require_self
 *= require select2
 *= require devise_bootstrap_views
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "cookies_eu";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

* {
	font-family: 'Raleway', sans-serif;
	list-style: none;
}

html, body {
	height: 100%;
	background-color: #F5EEEE;   
}

body
{
	margin-top: 0;
}

#main {
	height: 100%;
	margin-top: 0;
	margin-bottom: 30px;
	padding-top: 50px;
	padding-bottom: 0;
}

.home-custom {
	color: #fff;
}

.navbar-custom {
	background-color: #1D0826;
	color: #fff;
	clear: both;

	#{$a-tags} {
		color: #fff;
		text-decoration: none;
	}

	#{$a-tags-hover} {
		color: #ccc;
	}
}

.navbar-logo {
	float: left;
    height: 50px;
	line-height: 50px;
	padding-right: 10px;
}

header {
	clear: both;

	li {
		padding-left: 20px;
	}
}

.footer { 
	width: 100%;
	clear: both;
	position: relative;
	bottom:0;
	height: 30px;
	margin-top: -30px;

	.navbar-footer {
		height: 30px;
		line-height: 30px;

		ul {
			padding: 0;
		}

		li {
			padding-right: 20px;
		}

		p {
			margin: 0;
		}

		a {
			padding: 0;
		}
	}
}

.container-fluid
{
	/*border: solid green 5px;*/
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 30px;
	padding-left: 0;
	padding-right: 0;
	min-height: 100%;
}

.btn-primary
{
	background-color:rgb(26,10,36);
	color: white;
	border: white;
}

.alert {
	margin-bottom: 0;
}

.contact-info {
	a {
		padding-left: 5px;
	}

	#{$a-tags} {
		color: #AC4D78;
		text-decoration: none;
	}

	#{$a-tags-hover} {
		color: #ccc;
	}
}

.view-demo {
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 180px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	background: rgba(246,249,252,.8);
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	font-size: 18px;
	color: #AC4D78;
	text-decoration: none;

	.fa {
		margin-left: 5px;
	}
}

.view-demo:hover {
	color: #1D0826;
	text-decoration: none;
	background: rgba(246,249,252,.9);
	transform: translateY(-5px) translateZ(0);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	box-shadow: -5 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
