// Place all the styles related to the Classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideshow
{ 
  height:800px;
  margin-top: 0;
  /*background-color: red; */
  /*background-size: contain;*/
  background-position: center; 
  background-repeat: no-repeat;
/*  background-size: 100%;
*/  background-image: url('/assets/bgd-xl.jpg');


  /*no-repeat center center*/
}

.slideshow-text
{
  position:relative;
  height: 200px;
  margin-top:200px;
  margin-bottom:auto;
}

.slideshow-h1
{
  color:white;
  font-weight: bold !important;
  font-size:4em;
  text-shadow: 0px 2px 2px black;
  text-align: center;
}

.slideshow-h2
{
  color:white;
  font-size:2em;
  text-align: center;
  text-shadow: 0px 2px 2px grey;
}

.station-search
{
  text-align: center;
}

.select-resort
{
  width:250px;
 /*line-height:45px;*/
}


.search-results
{
  background-color: white;
  margin-top: 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 3px 3px lightgrey;
}

.search-results-header
{
  background-color: rgb(148,41,64);
  color: white;
  width:100%;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3
  {
    margin-top: 0;
    margin-bottom: 0;
  }
  h4
  {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.search-results-nb-guests
{
  margin-top: 30px;
  padding-left: 15px;
}

/*Calendar aspect*/

.calendar
{
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  /*border-top:none;*/
}


.average-price-box
{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  box-shadow: 0px 3px 3px lightgrey;
  display: flex;
  flex-direction: row;
}

.average-price-box:hover
{
  box-shadow: 2px 5px 5px grey;
  cursor:pointer;
}

.col-calendar
{
  padding-left: 2px;
  padding-right: 2px;
}

.month
{
  padding-bottom: 0px;
  border:none;
  background-color: none;
  font-weight: lighter;
}

.date
{
  font-size: 0.8em;
  font-style: italic;
  padding: 0;
  width:25%;
  /*border: 1px solid green;*/
  font-weight: normal;

}

.mini-date
{
  height: 40px;
  line-height: 0px;
  /*border: 1px solid orange;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start-date
{
  background-color: rgb(235,213,191);
}
.end-date
{
  background-color: rgb(215,201,208);
}

.bold
{
  font-weight: 900;
}

.price
{
  font-size: 1.2em;
  font-weight: bold;
  align-content: center;
  width:75%;
  height: 20%;
  padding-top:0;
  padding-bottom:5px;
  margin-left:0;
  margin-right: 0;
  margin-top:auto;
  margin-bottom:auto;
  /*border: 1px solid blue;*/
  p
  {
    font-size: 0.8em;
    line-height: 0;
    font-style: italic;
    font-weight: normal;
  }
}