// Place all the styles related to the Classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideshow
{ 
  height:400px;
  /*background-color: red; */
  /*background-size: contain;*/
  background-position: center; 
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('/assets/bgd-xl.jpg');


  /*no-repeat center center*/
}

.slideshow-text
{
  position:relative;
  height: 200px;
  margin-top:100px;
  margin-bottom:auto;
}

.slideshow-h1
{
  color:white;
  font-weight: bold;
  font-size:2em;
  text-align: center;
}

.slideshow-h2
{
  color:white;
  font-size:1.5em;
  text-align: center;
}

.station-search
{
  text-align: center;
}

.search-results
{
  background-color: white;
  margin-top: 20px;
}

/*Calendar aspect*/

.calendar
{
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  /*border-top:none;*/
}


.average-price-box
{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  box-shadow: 1px 1px grey;
}

.col-calendar
{
  padding-left: 2px;
  padding-right: 2px;
}

.month
{
  font-weight:bold;
  padding-bottom: 0px;
  border:none;
  background-color: none;
  font-weight: lighter;
}

.date
{
  font-size: 0.8em;
  font-style: italic;
  padding: 0;
}

.price
{
  font-size: 1em;
  font-weight:bold;
}