// Place all the styles related to the Classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.ok-btn {
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
}*/


.search-results
{
  background-color: white;
  margin-top: 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
  margin-bottom: 30px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}

.search-results-header
{
  background-color: rgb(148,41,64);
  color: white;
  width:100%;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3
  {
    margin-top: 0;
    margin-bottom: 0;
  }
  h4
  {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.search-results-nb-guests
{
  margin-top: 30px;
  padding-left: 15px;
}

/*Calendar aspect*/

.calendar
{
  text-align: center;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  /*border-top:none;*/
}


.average-price-box
{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
  /*box-shadow: 0px 3px 3px lightgrey;*/
  display: flex;
  flex-direction: row;
}

.average-price-box:hover
{
  /*box-shadow: 0px 3px 3px lightgrey;*/
  /*box-shadow: -5 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);*/
  /*-webkit-transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  translateY(-5px) translateZ(0) */
  cursor:pointer;
}

.col-calendar
{
  padding-left: 2px;
  padding-right: 2px;
}

.month
{
  padding-bottom: 0px;
  border:none;
  background-color: none;
  font-weight: lighter;
}

.date
{
  font-size: 0.8em;
  font-style: italic;
  padding: 0;
  width:25%;
  /*border: 1px solid green;*/
  font-weight: normal;

}

.mini-date
{
  height: 40px;
  line-height: 0px;
  /*border: 1px solid orange;*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  vertical-align: middle;
}

.start-date
{
  background-color: rgb(235,213,191);
  vertical-align: middle;
}
.end-date
{
  background-color: rgb(215,201,208);
  vertical-align: middle;
}

.bold
{
  font-weight: 900;
}

.price
{
  font-size: 1.2em;
  font-weight: bold;
  align-content: center;
  width:75%;
  height: 20%;
  padding-top:0;
  padding-bottom:5px;
  margin-left:0;
  margin-right: 0;
  margin-top:auto;
  margin-bottom:auto;
  /*border: 1px solid blue;*/
  p
  {
    font-size: 0.8em;
    line-height: 0;
    font-style: italic;
    font-weight: normal;
  }
}