// Place all the styles related to the Classifieds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar
{
  text-align: center;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.average-price-box
  {
    margin-top: 5px;
    margin-bottom: 5px;
  }

.month
{
  background-color: lightblue;
  font-weight:bold;
}

.date
{
  font-size: 0.8em;
  font-style: italic;
}

.price
{
  font-size: 1.5em;
  font-weight:bold;
}