.margin-top-extra
{
  h1
  {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
  }
}

.not-subscribed
{
  text-align: center;
}


.station-bloc
{
  text-align: center;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);

  h2 {
      font-size: 1em;
      font-weight: bold;
      margin-top: 0;
      padding-top:0;
    }

  a {
    color: darkgrey;
  }
}

.station-bloc:hover
{
  text-decoration: none;
  color: lightgrey;
  background: rgba(246,249,252,.9);
  transform: translateY(-5px) translateZ(0);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: -5 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
  cursor:pointer;
}

.search-results-dashboard
{
  background-color: white;
  margin-top: 20px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
  margin-bottom: 20px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}

.scroll-top {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 220px;
  font-size: 14px;
}

thead, tfoot {
   display: table-header-group;
}