/*div {
    border: 1px solid blue;
    box-sizing: border-box;
}*/

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.form {
  background-color: white;
  margin-top: 40px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
  margin-bottom: 30px;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);

}
.form-head {
/*  background-color: yellow;*/
  /*padding: 15px;*/
}

/* form-body */

.form-body {
 /* background-color: red;
  padding: 15px;*/
}

.form-body-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-footer {
 /* background-color: green;
  padding: 15px;*/
}

.form-footer-title {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-form {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #AC4D78;
  color: #FFFFFF;
}

/*.form-contour
{
  margin-top: 80px;
  box-shadow: 0px 3px 3px lightgrey;
}*/