// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slideshow
{ 
  height:800px;
  margin-top: 0;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url('/assets/bgd-xl.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (max-width: 1280px) and (orientation:portrait)
{
  .slideshow
  {
    background-image: url('/assets/bgd-m.jpg');
    /*height:200px;  */
  }
}


.slideshow-h1
{
  color:white;
  font-weight: bold !important;
  font-size:3.5em;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  text-align: center;
}

.slideshow-h2
{
  color:white;
  font-size:2em;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.station-search
{
  text-align: center;
}

.select-resort
{
  width:300px;
  height: 32px;
  line-height:32px;
}

.homepage
{
  h2
  {
    font-size:1.5em;
    text-align: center;
  }
  p
  {
    text-align: center;
  }
}

.icon-big
{
  font-size:2em;
  /*text-align: center;*/
}

.slideshow-smaller
{ 
  height:200px;
  margin-top: 0;
  background-position: center; 
  background-repeat: no-repeat;
  background-image: url('/assets/riciardus-196022.jpg');
  background-size:100%;
}

.box-in-box
{
  height:200px;
  margin-bottom: auto;
  margin-top:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  h3
  {
    font-weight: bold;
    color: white;
    text-shadow: 0px 2px 2px grey;
    font-size:2em;
  }
  em
  {
    font-style: none;
    font-weight: bold;
  }
  p
  {
    text-align:center;
  }
}