// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.station-bloc
{
  text-align: center;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 3px;
  line-height: 40px;
  text-align: center;
}
