<footer class="footer">
	<nav class="navbar-custom navbar-footer">
    	<div class="container">
	        <ul class="navbar-nav">
				<li><a href="/pricing">Tarifs</a></li>
				<li><a href="/legal">Mentions légales</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>

			<p class="copyright pull-right">
		        &copy; Team Ourson 
		        <%= Time.now.year %> 
		        - Développé avec &hearts; à Paris
		    </p>
		</div>
	</nav>
</footer>