<footer>
    <div class="container">
        <ul class="navbar-nav footer-nav">
			<li><a href="/pricing">Pricing</a></li>
			<li><a href="/legal">Legal</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>

		<p class="copyright pull-right">
	        &copy; Team Ourson 
	        <%= Time.now.year %> 
	        - Made with &hearts; in Paris
	    </p>
	</div>
</footer>