<footer class="footer">
	
	<!-- <div class="navbar navbar-inverse"> -->
    	<div class="container">
    		
    		<div class="footer-content">

    			<ul>
	        <!-- <ul class="nav navbar-nav"> -->
						<!-- <li><a href="/pricing">Tarifs</a></li>
						<li><a href="/legal">Mentions légales</a></li> -->
						<li><a href="/contact">Contact</a></li>
					</ul>
				
					<!-- <ul class="nav navbar-nav navbar-right"> -->
					<ul class="disappear-small">
						<li>Projet réalisé dans le cadre de <a href="http://www.thehackingproject.org/" target="_blank">The_Hacking_Project</a></li>
					</ul>
		  	
		  	</div>

			</div>
	<!-- </div> -->

</footer>