<header>
    <nav class="navbar-custom navbar-fixed-top navbar">
        <div class="container">
            <a class="navbar-logo" href="/">
                <img class="logo" src="/assets/logo-big.png" alt="" height="28" width="28">
            </a>
            <a class="no-margin-left navbar-text navbar-left" href="/">
                Algoski
            </a>
            
            <div class="navbar-text navbar-right">
                <% if user_signed_in? %>
                    <ul class="navbar-nav">
                        <li class="bienvenue">Bienvenue <strong><%= current_user.email %></strong> !</li>
                        <li><%= link_to "Mon tableau de bord", dashboard_path, :class => 'navbar-link' %></li>
                        <li><%= link_to destroy_user_session_path, method: :delete, :class => 'navbar-link-custom' do %>
                        <i class="fa fa-sign-out " aria-hidden="true"></i> 
                        <% end %></li>
                    </ul>
                <% else %>
                    <ul class="navbar-nav">
                        <li><%= link_to "Se connecter", new_user_session_path, :class => 'navbar-link-custom' %></li>
                    </ul>
                <% end %>
            </div>
        </div>
    </nav>
</header>